{% load static %}
{% load custom_filters %}
<main>

        <section class="gj do ir hj sp jr i pg">

            <div class="xc fn zd/2 2xl:ud-w-187.5 bd 2xl:ud-h-171.5 h q r" style="height: 100%;">
                
                <img src="{% static 'static2/images/myImage/shape_img1.png' %}" alt="Woman" class="h q r ua"  style="max-height: 100%;"/>
            </div>

            <div class="bb ze ki xn 2xl:ud-px-0">
                <div class="tc _o">
                    <div class="animate_left jn/2">
                        <h1 class="fk vj zp or kk wm wb">Welcome to ESP Education I hope to get great Experience 
                        </h1>
                        <p class="fq">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla magna mauris.
                            Nulla fermentum viverra sem eu rhoncus consequat varius nisi quis, posuere magna.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="modules">
            <div class="bb ze ki yn 2xl:ud-px-12.5">
                <div class="tc uf zo xf ap zf bp mq">
                    <div class="moduls-list">
                        {% for module in modules %}
                            {% with  module.id|count_numbers as values  %}
                                <div class="module-item">
                                    <a href="{% url 'exam:prepare-exam' module.id %}">
                                        <img src="{% static 'static2/images/myImage/portrait-asian-female-student-studying-university-library_466494-3023.png' %}"
                                            alt="Feature" class="ib" />
                                        <div class="info ">
                                            <h1 class="b wm kk">{{module.name}}</h1>
                                            <p><span class="sub-title b wm kk">number of courses :</span><span class="value b wm kk">{{values.0}}</span></p>
                                            <p><span class="sub-title b wm kk">number of questions :</span><span class="value b wm kk">{{values.1}}</span></p>
                                        </div>
                                    </a>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section> 

    </main>