{% extends "base/base.html" %}
{% load custom_filters %}
{% load static %}
{% block title %}
Home
{% endblock title %}
{% block styels %}
<link rel="stylesheet" href="{% static 'css/base/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/exam/prepare_exam.css' %}">
<link rel="stylesheet" href="{% static 'css/exam/exam.css' %}">
<link rel="stylesheet" href="{% static 'css/exam/check_box.css' %}">

{% endblock styels %}
{% block content %}
{% include "base/nav.html" %}
{% if courses %}
{% include "exam/prepare_exam.html" %}
{% endif %}
{% if start or response %}
{% include "exam/exam.html" %}
{% endif %}
<script src="{% static 'js/exam/exam.js' %}"></script>
<script src="{% static 'js/exam/prepare_exam.js' %}"></script>
<script src="{% static 'js/base/nav.js' %}"></script>
{% endblock %}