{% extends "base/base.html" %}
{% load custom_filters %}
{% load static %}

{% block title_content %}
    Thompson Sampler
{% endblock title_content %}

{% block styles_content %}
    <link rel="stylesheet" href="{% static 'css/exam.css' %}">
{% endblock styles_content %}
{% block left_side_content %}

{% endblock left_side_content %}
{% block body_conten %}
   <h1>welcome to my revision web site</h1>
{% endblock body_conten %}

{% block scripts_content %}
    <script src="{% static './js/script.js' %}"></script>
{% endblock scripts_content %}
    
