{% extends "base/base.html" %}
{% load custom_filters %}
{% load static %}

{% block title_content %}
    Q_LEARNING
{% endblock title_content %}

{% block styles_content %}
    <link rel="stylesheet" href="{% static 'css/exam.css' %}">
{% endblock styles_content %}
{% block left_side_content %}

{% endblock left_side_content %}
{% block body_conten %}
    {% if state %}
    <div class="container">
        <div class="timer">
            <div id="timer">00:00.000</div>
            <div id="control">
                <svg id="control" height="800px" width="800px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    viewBox="0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.617,0,0,114.615,0,256s114.617,256,256,256s256-114.615,256-256S397.383,0,256,0z M224,320
                        c0,8.836-7.164,16-16,16h-32c-8.836,0-16-7.164-16-16V192c0-8.836,7.164-16,16-16h32c8.836,0,16,7.164,16,16V320z M352,320
                        c0,8.836-7.164,16-16,16h-32c-8.836,0-16-7.164-16-16V192c0-8.836,7.164-16,16-16h32c8.836,0,16,7.164,16,16V320z" fill = " #b00000"/>
                </svg>
            </div>
        </div>
    </div>
    {% endif %}
    <form class= 'form' method="POST" >
        {% csrf_token %}
        <p class="question">{{ question }}</p>
        <div class="choises">
            <ul>
                {% for chose in possible_choses %}
                {% if  state %}
                <li class="chois">
                    <input type="checkbox" id={{chose.value|concat:"chios"}} name="answer[]" value={{chose.value}}>
                    <label for={{chose.value|concat:"chios"}} class="chios-item">{{chose.text}}</label><br>
                </li>
                {% else %}
                <li class="chois">
                    <input type="checkbox" id={{chose.value|concat:"chios"}} name="answer[]" {% if chose.value|in_list:answer %}checked{% endif %} value={{chose.value}} disabled>
                    <label for={{chose.value|concat:"chios"}} class="chios-item">{{chose.text}}</label><br>
                </li>
                {% endif %}
                
                {% endfor %}
            </ul>
        </div>
        <input type="hidden" name="arm" value="{{ arm }}">
        <input type="hidden" id="time" name="time">
        {% if state %}
        <input type="submit" id="submit" name="submit"  value="Submit">
        {% else %}
        <input type="submit" id="submit" name="submit"  value="next">
        {% endif %}
    </form>
    {% if feedback %}
        {% if feedback.0 == 0 %}
        <p class="feedback-success">{{ feedback.1.0}}</p>
        {% else %}
        <div class="wrong-answor">
            <p class="feedback-error">{{ feedback.1.0 }}</p>
            <div class="correct-answer">
                <p>The correct answer is :</p>
                <ul >
                    {% for correct in feedback.1.1 %}
                    <li>{{ correct }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Question</th>
                <th>Correct</th>
                <th>Incorrect</th>
                <th>Max Time</th>
                <th>Min Time</th>
                <th>Average Time</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td> {{ result.question }}</td>
                <td> {{ result.correct }}</td>
                <td> {{ result.incorrect }}</td>
                <td> {{ result.max_time }}</td>
                <td> {{ result.min_time }}</td>
                <td> {{ result.average_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body_conten %}

{% block scripts_content %}
    <script src="{% static './js/script.js' %}"></script>
{% endblock scripts_content %}
    
