.container {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer {
    display: flex;
    align-items: center;
}
#control{
  margin: 0 10px;
  
      border: none;
    background: none;
}

#control:hover {
  cursor: pointer;
  transform: scale(1.2);

}
#control svg {
    width: 20px;
    height: 20px;
    fill: black;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.question {
  font-size: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 90%;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
}
.choises{
    padding: 10px;
    margin: 0 auto;
}
.chois:last-child {
    margin-bottom: 7px;
}
.chois {
    margin-bottom: 5px;
    /* list-style: upper-alpha; */
}
.question-div h1 {
    text-align: center;
}
.question-div .choises{
  display: flex;
  justify-content: center;
}
.question-div  .btn-control {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    width: 300px;
    margin: 0 auto;
}