{% extends "student_temp/base_student.html" %}
{% load static %}
{% block title %}
LogIn
{% endblock title %}
{% block content_base_student %}
    <main>
        {% for msg in messages %}
        <h1>{{msg}}</h1>
        {% endfor %}
        <section class="i pg fh rm ki xn vq gj qp gr hj rp hr">

            <img src="{% static 'static2/images/shape-06.svg' %}" alt="Shape" class="h j k" />
            <img src="{% static 'static2/images/shape-03.svg' %}" alt="Shape" class="h l m" />
            <img src="{% static 'static2/images/shape-17.svg' %}" alt="Shape" class="h n o" />
            <img src="{% static 'static2/images/shape-18.svg' %}" alt="Shape" class="h p q" />
            <div class="animate_top bb af i va sg hh sm vk xm yi _n jp hi ao kp">

                <span class="rc h r s zd/2 od zg gh"></span>
                <span class="rc h r q zd/2 od xg mh"></span>
                <div class="rj">
                    <h2 class="ek ck kk wm xb">Sign in to your Account</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
                <form class="sb" action="" method="post">
                    {% csrf_token %}
                    <div class="wb">
                        <label class="rc kk wm vb" for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="example@gmail.com"
                            class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40" />
                    </div>
                    <div class="wb">
                        <label class="rc kk wm vb" for="password">Password</label>
                        <input type="password" name="password1" id="password" placeholder="**************"
                            class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40" />
                    </div>
                    <input type="submit" value="Sign In"  class="vd rj ek rc rg gh lk ml il _l gi hi">
                    <p class="sj hk xj rj ob">
                        Don't have an account?
                        <a class="mk" href="{% url 'student:signup'  %}"> Sign Up </a>
                    </p>
                </form>
            </div>
        </section>
    </main>
{% endblock content_base_student %}
