.container1{
    display: flex;
    height: 100vh;
    width: 100vw;
}
li.module_link {
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1.3px;
    list-style: inside;
    padding-left: 20px;
    cursor: pointer;
}

li.module_link:hover {
    transform: scale(1.2);
    text-decoration: underline;
}

li.cours-link {
    list-style: auto;
    text-align: left;
    letter-spacing: 1.1px;
    cursor: pointer;
    margin: 0px 30px 10px 20px;
}

ul.cours-items {
    height: 85%;
    margin-top: 25px;
    padding-left: 20px;
    width: 60%;
    overflow-y: auto;
}

li.cours-link:hover {
    transform: scale(1.04);
}
li.cours-link a p {
    text-align: justify;
    text-transform: capitalize;
}

.exam h1 {
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 1.2px
}

.user {
    padding: 10px 0;
    text-transform: capitalize;
    letter-spacing: 1.2px;
}







.moduls{
    width: 300px;   
    display: flex;
    flex-direction: column;

}
.moduls .title{
    text-align: center;
    margin: 30px 0;
}
.moduls .items{
    margin: 0 20px;
}


.moduls .items .item{
    font-size: 1.4rem;
    margin: 10px 0;
}
.moduls .items .item span,.moduls .items .item .subitems .subitem{
    cursor: pointer;
    
}
.moduls .items .item span:hover,
.moduls .items .item .subitems .subitem:hover{
    text-decoration: underline;
}
.moduls .subitems{
    /* margin-left: 20px; */
    font-size: 1.1rem;
    margin-top: 7px;

}
.moduls .subitems .subitem{
    margin: 5px 0;
    margin-left: 30px;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background: #ecb9b9; */
}
.user{
    background-color: rgb(195, 195, 241);
}
.exam{
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding-bottom: 20px;
    overflow-y: auto;
}