{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {% block title_content %}{% endblock title_content %} </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/cours_list.css' %}">
    {% block styles_content %}{% endblock styles_content %}
    
  </head>
  <body>
    <div class="container1">
      <div class="moduls">
        <h1 class="title">moduls</h1>
        <ul class="items">
          {% for key,val in courses.items %}
           <li class="item"><a href="{% url 'module' module_name=key %}"><span>{{key}} ></a></span>
            <ul class="subitems">
              {% for va in val %}
                <li class="subitem"><a href="{% url 'course' module_name=key course_name=va %}">{{va}}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="main">
        <div class="user">
          <h1>user</h1>
        </div>
        <div class="exam">
         {% block body_conten %}{% endblock body_conten %}
        </div>
      </div>
    </div>
    {% block scripts_content %}{% endblock scripts_content %}
  </body>
</html>

